.text-center{display:block;text-align:center}.colored{color:#ff5400}


.colored,
.shop-bag i,
.naver .navbar a i,
.header .naver .navbar .social a:hover i,
.naver .navbar a:hover,
.user-menu i,
.search-bar-mobile button i,
.categoria .vertudo i,
.categoria .counter,
.bread i,
.produto-detalhes .categoria a,
.campo-numero i,
.sacola-table .sacola-remover i,
.sacola-table .sacola-change i,
.adicionado .checkicon,
.title-line i,
.back-button i,
.sidebar-info i,
.filter-select .outside,
.filter-select .fake-select i,
.pagination i,
.funcionamento-mobile i,
.fake-select i,
.search-bar button i,
.holder-shop-bag i
{
	color: var(--main) !important;
}

.is-invalid{
	border: 1px solid red !important;
}

.box-sabor{
	margin: 3px;
}
.box-sabor:hover{
	cursor: pointer;
}

button[disabled=disabled], button:disabled {
	background-color: #cccccc !important;
	color: #666666 !important;
}

.btn-main{
	color:white;
	background: var(--main) !important;
}

.bg_sistema{
	color:white;
	background: var(--main) !important;
}

.top {
	border-color: var(--main) !important;
}

.footer-info,
.categoria .produto .detalhes,
.cover,
.carousel-indicators .active,
.botao-acao,
.sidebar .sidebar-header,
.minitop,
.opcoes .opcao.active .check,
.floatbar {
	background: var(--main) !important;
}

.pagination > li > a:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: var(--main) !important;
	color: #fff !important;
}

.is-sticky .avatar {
	height: 70px !important;
	width: 70px !important;
}

.tv-infinite-menu a.active,
.tv-infinite-menu a:hover,
.fancybox-thumbs__list a::before {
	border-color: var(--main) !important;
}

.social2 {
	margin: 10px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social2 a {
	display: block;
	padding: 0 !important;
	margin: 7px;
	text-align:center
}

.social2 i {
	color: #black !important;
	font-size: 20px !important;
}

/* ALL MOBILE */

@media (max-width: 991px) {

	.user-menu i {
		color: #fff !important;
	}

	.shop-bag i {
		color: #fff !important;
	}

	.shop-bag .counter {
		border: 0;
		padding-top: 2px;
	}

	.top {
		border-top: 0;
		background: var(--main) !important;
	}

}


.fa-star{
	width:40px;
	font-size:30px;
	color:#e9ebe4;
}
.estrelaativa {
	color: #e0e30e;
}


/* ALL DESK */

@media (min-width: 991px) {

}

.d-none{
	display: none;
}

.modal-loading {
	display: block;
}

.modal-loading {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.8)
	url("/loading.gif") 50% 50% no-repeat;
}